<ng-container *ngIf="(vm$ | async) as vm">
  <app-table [rows]="vm.rows" [page]="vm.page" [pageSize]="vm.pageSize"
             [totalRows]="totalRows" [clientPagination]="false"
             (pageIndexChange)="page$.next($event)"
             (pageSizeChange)="pageSize$.next($event)"
             [loading]="loading"
  >
    <ngvn-column header="ID" key="id"></ngvn-column>
    <ngvn-column header="Name" key="name" [sortable]="true" (sortChange)="sort$.next($event)"></ngvn-column>
    <ngvn-column header="Date" key="date" [dataType]="COL_DATA_TYPE.DATE">
      <ng-template appHeader>
        <strong><em>Created Date</em></strong>
      </ng-template>
    </ngvn-column>
  </app-table>
</ng-container>
